<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.best_seller.repository.BestSellerRepository">
    <!--SELECT column_name(s)
    //FROM table1
    //INNER JOIN table2 ON table1.column_name = table2.column_name;-->

    <resultMap type="Book" id="Book">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="isbn10" property="isbn10"/>
        <result column="isbn13" property="isbn13"/>
        <result column="published_at" property="publishedAt"/>
        <result column="publisher" property="publisher"/>
        <result column="" property=""/>
    </resultMap>



    <select id="findAll"
            parameterType="sion.bookstore.domain.best_seller.service.BestSellerSearchCondition"
            resultType="sion.bookstore.domain.book.repository.Book">
        SELECT id, title, content, isbn10, isbn13, authors, translators, publishedAt, publisher, price, salePrice, thumbnail, status, createdAt, createdBy, modifiedAt, modifiedBy, deleted
        FROM book
        INNER JOIN best_seller ON book.id = best_seller.book_id
        <if test="keyword != null and keyword != ''">
            where title like CONCAT('%', #{keyword}, '%')
        </if>
        order by id asc
        limit #{zeroBasePage}, #{size}
    </select>

</mapper>