<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.book.repository.BookCategoryRepository">
    <sql id="bookCategoryColumns">
        category_id, book_id, created_at, created_by, modified_at, modified_by, deleted
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.book.repository.BookCategory">
        INSERT into book_category (<include refid="bookCategoryColumns" />)
        values (#{categoryId}, #{bookId}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>

    <select id="findBooksByCategoryId"
            parameterType="sion.bookstore.domain.book.service.BookCategorySearchCondition"
            resultType="sion.bookstore.domain.book.repository.BookCategory">
        SELECT id, <include refid="bookCategoryColumns" />
        FROM book_category
        <if test="categoryId != null">
            where category_id = #{categoryId}
        </if>
        order by book_id asc
        limit #{searchStartIndex}, #{size}
    </select>

    <select id="findCategoriesByBookId"
            parameterType="java.lang.Long"
            resultType="sion.bookstore.domain.category.repository.Category">
        SELECT c.id, c.name
        FROM book_category bc
        INNER JOIN category c ON bc.category_id = c.id
        WHERE bc.book_id = #{bookId}
    </select>

</mapper>