<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.cart.repository.CartRepository">
    <sql id="cartColumns">
        user_id, book_id, quantity, created_at, created_by, modified_at, modified_by, deleted
    </sql>

    <resultMap id="cartItem" type="sion.bookstore.domain.cart.repository.CartItem">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="book_id" property="bookId" />
        <result column="quantity" property="quantity" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="modified_at" property="modifiedAt" />
        <result column="modified_by" property="modifiedBy" />
        <result column="deleted" property="deleted" />
        <collection property="book" resultMap="bookResultMap"/>
    </resultMap>
    
    <resultMap id="bookResultMap" type="sion.bookstore.domain.book.repository.Book">
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="sale_price" property="salePrice" />
        <result column="thumbnail" property="thumbnail" />
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.cart.repository.CartItem">
        INSERT into cart (<include refid="cartColumns" />)
        values (#{userId}, #{bookId}, #{quantity}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>

    <update id="update" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.cart.repository.CartItem">
        UPDATE cart set
            user_id = #{userId},
            book_id = #{bookId},
            quantity = #{quantity},
            created_at = #{createdAt},
            created_by = #{createdBy},
            modified_at = #{modifiedAt},
            modified_by = #{modifiedBy},
            deleted = #{deleted}
        WHERE id = #{id} AND book_id = #{bookId} AND user_id = #{userId};
    </update>

    <select id = "findAllByMemberId"
            parameterType = "java.lang.Long"
            resultMap = "cartItem">
        SELECT c.id, c.user_id, c.book_id, c.quantity, c.created_at, c.created_by, c.modified_at, c.modified_by, c.deleted,
               b.title, b.price, b.sale_price, b.thumbnail
        FROM cart c
        INNER JOIN book b ON c.book_id = b.id
        WHERE c.user_id = #{userId}
        AND c.deleted = false
    </select>

    <select id = "findOneByBookId" parameterType="java.lang.Long" resultMap="cartItem">
        SELECT id, <include refid="cartColumns" />
        FROM cart
        WHERE book_id = #{bookId} and deleted = false;
    </select>

    <select id = "findOneByCartId" parameterType="java.lang.Long" resultMap="cartItem">
        SELECT id, <include refid="cartColumns" />
        FROM cart
        WHERE id = #{id} and deleted = false;
    </select>
</mapper>