<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.member.repository.MemberRepository">
    <sql id="memberColumns">
        `name`, email, password, password_salt, phone, profile_img_path, `admin`, created_at, created_by, modified_at, modified_by, deleted
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.member.repository.Member">
        INSERT into member (<include refid="memberColumns" />)
        values (#{name}, #{email}, #{password},#{passwordSalt}, #{phone}, #{profileImgPath}, #{admin}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>

    <select id="findOneById" resultType="sion.bookstore.domain.member.repository.Member">
        SELECT id, <include refid="memberColumns" />
        FROM member WHERE id = #{id}
    </select>

    <select id="findOneByEmail" resultType="sion.bookstore.domain.member.repository.Member">
        SELECT id, <include refid="memberColumns" />
        FROM member WHERE email = #{email}
    </select>

    <select id="findAll"
            parameterType="sion.bookstore.domain.member.service.MemberSearchCondition"
            resultType="sion.bookstore.domain.member.repository.Member">
        SELECT id, <include refid="memberColumns" />
        FROM member
        <if test="keyword != null and keyword != ''">
            WHERE `name` like CONCAT('%', #{keyword}, '%') or email like CONCAT('%', #{keyword}, '%')
        </if>
        limit #{zeroBasePage}, #{size}
    </select>

    <select id="countAll"
            parameterType="sion.bookstore.domain.member.service.MemberSearchCondition"
            resultType="long">
        SELECT count(*) FROM member
        <if test="keyword != null and keyword != ''">
            where `name` like CONCAT('%', #{keyword}, '%') or email like CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.member.repository.Member">
        UPDATE member set
            `name` = #{name},
            email = #{email},
            password = #{password},
            password_salt = #{passwordSalt},
            phone = #{phone},
            profile_img_path = #{profileImgPath},
            created_at = #{createdAt},
            created_by = #{createdBy},
            modified_at = #{modifiedAt},
            modified_by = #{modifiedBy},
            deleted = #{deleted},
            `admin` = #{admin}
        WHERE id = #{id};
    </update>

</mapper>