<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.order.repository.OrderRepository">
    <sql id="orderColumns">
        user_id, total_price, payment_type, order_status, address_basic, address_detail, zip_code, phone, message, created_at, created_by, modified_at, modified_by, deleted
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.order.repository.Order">
        INSERT into `order` (<include refid="orderColumns" />)
        values (#{userId}, #{totalPrice}, #{paymentType},#{orderStatus}, #{addressBasic}, #{addressDetail}, #{zipCode},  #{phone}, #{message}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>

    <select id="findOneById" resultType="sion.bookstore.domain.order.repository.Order">
        SELECT id, <include refid="orderColumns" />
        FROM `order` WHERE id = #{id}
    </select>

    <select id="findAllByMemberId" resultType="sion.bookstore.domain.order.repository.Order">
        SELECT id, <include refid="orderColumns" />
        FROM `order` WHERE user_id = #{userId};
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.order.repository.Order">
        UPDATE `order` set
            user_id = #{userId},
            total_price = #{totalPrice},
            payment_type = #{paymentType},
            order_status = #{orderStatus},
            address_basic = #{addressBasic},
            address_detail = #{addressDetail},
            zip_code = #{zipCode},
            phone = #{phone},
            message = #{message},
            created_at = #{createdAt},
            created_by = #{createdBy},
            modified_at = #{modifiedAt},
            modified_by = #{modifiedBy},
            deleted = #{deleted}
        WHERE id = #{id};
    </update>
</mapper>