<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.order.repository.OrderProductRepository">
    <sql id="orderProductColumns">
        order_id, book_id, quantity, created_at, created_by, modified_at, modified_by, deleted
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.order.repository.OrderProduct">
        INSERT into `order_product` (<include refid="orderProductColumns" />)
        values (#{orderId}, #{bookId}, #{quantity}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>

    <select id="findAllByOrderId" resultType="sion.bookstore.domain.order.repository.OrderProduct">
        SELECT id, <include refid="orderProductColumns" />
        FROM order_product
        WHERE order_id = #{orderId} and deleted = 0;
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.order.repository.OrderProduct">
        UPDATE order_product set
        order_id = #{orderId},
        book_id = #{bookId},
        quantity = #{quantity},
        created_at = #{createdAt},
        created_by = #{createdBy},
        modified_at = #{modifiedAt},
        modified_by = #{modifiedBy},
        deleted = #{deleted}
        WHERE id = #{id};
    </update>
</mapper>