<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.sample.repository.SampleRepository">

    <select id="findAll" resultType="sion.bookstore.domain.sample.repository.Sample">
        SELECT * FROM sample;
    </select>

    <select id="findOne" resultType="sion.bookstore.domain.sample.repository.Sample">
        SELECT * FROM sample where id=${id};
    </select>

    <insert id="insert" parameterType="sion.bookstore.domain.sample.repository.Sample">
        INSERT INTO sample (name, email, description, created_at, created_by, modified_at, modified_by, deleted)
        VALUES (#{name}, #{email}, #{description}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>
</mapper>