<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sion.bookstore.domain.book.theme.repository.ThemeSectionRepository">
    <sql id="themeSectionColumns">
        order_no, `type`, title, description, displayStartDate, displayEndDate, onDisplay, created_at, created_by, modified_at, modified_by, deleted
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="sion.bookstore.domain.book.theme.repository.ThemeSection">
        INSERT into theme_section (<include refid="themeSectionColumns" />)
        values (#{orderNo}, #{type}, #{title}, #{description}, #{displayStartDate}, #{displayEndDate}, #{onDisplay}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy}, #{deleted})
    </insert>

    <select id="findOneById" resultType="sion.bookstore.domain.book.theme.repository.ThemeSection">
        SELECT id, <include refid="themeSectionColumns" />
        FROM theme_section WHERE id = #{id} and deleted = false;
    </select>


    <update id="update" parameterType="sion.bookstore.domain.book.theme.repository.ThemeSection">
        UPDATE theme_section set
            order_no = #{orderNo},
            `type` = #{type},
            title = #{title},
            description = #{description},
            displayStartDate = #{displayStartDate},
            displayEndDate = #{displayEndDate},
            onDisplay = #{onDisplay},
            created_at = #{createdAt},
            created_by = #{createdBy},
            modified_at = #{modifiedAt},
            modified_by = #{modifiedBy},
            deleted = #{deleted}
        WHERE id = #{id};
    </update>

    <select id="findAll"
            parameterType="sion.bookstore.domain.book.theme.service.ThemeSectionSearchCondition"
            resultType="sion.bookstore.domain.book.theme.repository.ThemeSection">
        SELECT id, <include refid="themeSectionColumns" />
        FROM theme_section
        WHERE onDisplay = true AND deleted = false
        AND displayEndDate > now()
        <if test="keyword != null and keyword != ''">
            and `type` like CONCAT('%', #{keyword}, '%')
        </if>
        order by order_no asc
        limit #{searchStartIndex}, #{size}
    </select>

    <select id="countAll"
            parameterType="sion.bookstore.domain.book.service.BookSearchCondition"
            resultType="long">
        SELECT count(*) FROM book
        <if test="keyword != null and keyword != ''">
            where `type` like CONCAT('%', #{keyword}, '%')
        </if>
    </select>

</mapper>